.camera-viewport-td {
}

.camera-viewport-img {
	border: 1px solid #2eb398;
	height: 100%;
	width: 100%;
}

.p5canvas {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.ui-widget-content {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.viewport-container {
	border: 0px;
	margin: 0px;
	height: 100%;
	padding: 0px;
	width: 100%;
}

.joy-axis-cell {
	padding: 5%;
}
.joy-axis-bar-container {
	width: 100%;
	height: 32px;
	background-color: white;
}

.joy-axis-bar {
	width: 100%;
	height: 100%;
	background-color: #2eb398;
}

.joy-axis-label {
	color: white;
	font-family: "Noto Sans";
	display: flex;
	justify-content: center;
}

.joy-button-cell {
	padding: 2.5%;
}

.joy-button-indicator {
	width: 32px;
	height: 32px;
	background-color: white;
	display: flex;
	justify-content: center;
}

.joy-button-label {
	color: black;
	font-family: "Noto Sans";
	display: flex;
	justify-content: center;
}

#root {
	height: 100vh;
	width: 100vw;
}

body {
	background: #262626;
	border: 0px;
	color: white;
	font-family: "Noto Sans";
	margin: 0px;
	padding: 0px;
}

div, img, table, tr, td {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
